{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Nadia Syafitri</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Description" lang="en" content="ADD SITE DESCRIPTION">
		<meta name="author" content="nadia.syafitri@ui.ac.id">
		<meta name="robots" content="index, follow">

		<link rel="stylesheet" type="text/css" href="{%static "css/style-profile.css" %}">

		<!-- Bootstrap Core CSS file -->
		<link rel="stylesheet" href= "{%static "css/bootstrap.min.css" %}">


    <!-- JQuery File -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="{%static 'js/bootstrap.min.js'%}"></script>
	  <script src="{%static 'js/js-profile.js'%}"></script>
		<script src="{%static 'js/javascriptForm.js'%}"></script>
	</head>

<body onload="myFunction()" style="margin:0;">
	<div id="loader" class="text-center" style="padding-top: 25vh;">
		<img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="">
	</div>


	<div style="display:none;" id="myDiv" class="container animate-bottom" id="myDiv">
      <div class="row">
      <h1 class="Headerfont">Nadia Syafitri</h1>
      <br>
					<button type="button">Click Me!</button>
					<br>
              <br>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-custom">
                  <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <i class="glyphicon glyphicon-plus"></i>
                              Profile
                          </a>
                      </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body animated zoomOut">
                        <img id="display" src="{%static "img/Nadia.jpg" %}"; width="150"; height="150">
                        <h1 id="Headerfont1"> Nadia Syafitri </h1>
                        <h4 id="itemfont2"> Jakarta, January 17th 2000</h4>
                          <p id="itemfont3"> I'm currently pursuing Computer Science Degree <br>
                            at University of Indonesia</p>
                      </div>
                  </div>
              </div>
              <div class="panel panel-custom">
                  <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <i class="glyphicon glyphicon-plus"></i>
                              Experience and Achievements
                          </a>
                      </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body animated zoomOut" id="maintheme">
                        <h3 id="Headerfont">COMPFEST X</h3>
                          <h5 id="italic"> Staff of Playground</h5>
                        <ul id="itemfont4">
                          <li>Person in Charge Playground on Main Event</li>
                          <li>Person in Charge Open Registration Playground</li>
                          <li>Approached more than 20 IT startups for the exhibiton.</li>
                        </ul>
                        <h3 id="Headerfont">BEM Fasilkom UI</h3>
                            <h5 id="italic"> Staff of Public Relation</h5>
                          <ul id="itemfont4">
                            <li>Person in Charge for all BEM Fasilkom's Social Media</li>
                            <li>Have made more than 20 publication contents since February 2018 until now.</li>
                            <li>Several times being MCs</li>
                          </ul>
                          <h3 id="Headerfont">Open House Fasilkom UI</h3>
                              <h5 id="italic"> Staff of Creative</h5>
                            <ul id="itemfont4">
                              <li>Person in Charge for Decoration</li>
                              <li>Made ID Card Design </li>
                            </ul>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="panel panel-custom">
                  <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                      <i class="glyphicon glyphicon-plus"></i>
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Activity List
                          </a>
                      </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body animated zoomOut">
                          Saya hanya sedang sibuk berkuliah di Fasilkom UI dan sibuk mengerjakan tugas-tugas akademis serta non-akademis
													yang saya ikuti.
                  </div>
              </div>
          </div>
      </div>
      <form>
			{% csrf_token %}
          Name:<br>
      <input type="text" id=""="id_nama" name="name" value="">
        <br>
          Email:<br>
      <input type="email" id="id_email" name="email" placeholder="nadia@example.com">
			<div id="email_notice"></div>
				<br>
        Password:<br>
    <input type="password" id="id_password" name="password" value="">
      <br><br>
      <input id="id_button" type="submit" value="Submit" disabled>
  </form>
  </div>


</body>

</html>
