<html>
<head>
  <center><h1>Hello, apa kabar?</h1></center>
</head>

<body>

  <div class="grid-x" style="margin: 20px">
    <div class="cell small-1">

    </div>
    <div  style="background: #eaeaea; padding: 25px; border-radius: 30px" class="cell small-10">
        <section name="form">
            <h2 style="color: #2c3e50">What is happening?</h2>
            <form action="{% url 'Story6:home' %}" id="form", method="POST">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" class="button">Submit</button>
            </form>
        </section>
    </div>
    <div class="cell small-1"></div>

  <section class="result">
    {% for result in status_list %}
<div>
    <p>
      {{ result.status }}
    </p>
    <p>
          {{ result.date }}
        </p>
  </div>
  {% endfor %}
  </section>

</body>
</html>
