{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Nadia Syafitri</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Description" lang="en" content="ADD SITE DESCRIPTION">
		<meta name="author" content="nadia.syafitri@ui.ac.id">
		<meta name="robots" content="index, follow">

		<link rel="stylesheet" href="{%static "css/styles.css" %}">

		<!-- Bootstrap Core CSS file -->
		<link rel="stylesheet" href= "{%static "css/bootstrap.min.css" %}">
	</head>
	<body style="background: #f0f0ed">
		<div class="row">
			<div class="col-md-6">
				<div class="form-css">
			<center><h2 id="Headerfont" style="color: #fffcf4"> Hello, apa kabar?</h2></center>
			<section name="form">
					<form action="{% url 'Story6:home' %}", method="POST">
							{% csrf_token %}
							{{ form }}
							<br>
							<br>
							<center><button type="submit" class="button" id="submit">Submit</button></center>
					</form>
			</section>
		</div>
		</div>
		<div class="col-md-6" id="hasil">
		<section class="result" style="font-family: montserrat; color: black">
			{% for result in status_list %}
		<div class="dingdong">
			<p>
				{{ result.status }}
			</p>
			<p>
						{{ result.date }}
					</p>
		</div>
		{% endfor %}
	</section>
</div>
</div>

</body>
</html>
