.roundedrec {
   border-radius: 10px;
   background: #FFFFFF;
   box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
   width: 50%;
   margin-left: 42%;
   margin-top: 15%;
}

.insiderec {
   padding: 30px;
   text-align: center;
}

@media (max-width: 600px){
 .roundedrec{
   width: 60% !important;
   margin-left: 19% !important;
 }
}

.title-login {
 font-size: 4vw;
}

.button-login {
 background-color: #838996;
   color: white;
   margin-top: 13px;
   padding: 12px 25px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   width: 30%;
   font-size: 1.2vw;
}

.google-login {
 font-size: 1.5vw;
}

.display-4 {
 text-align: center;
 margin-top: 3%;
}

.button-logout {
 background-color: #838996;
   color: white;
   margin-top: 50px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   width: 10%;
   height: 50px;
   font-size: 1.2vw;
   margin-left: 40%;
}
