/*------------------------------------*\
	#OVERRIDE STLES
	This style sheet can be used for two different functions:
	1. Override specific Bootstrap styles.
	2. Add your own styles.
\*------------------------------------*/

/**
 * Padding-top is required if using .navbar-fixed-top.
 * This can be removed Remove if using .navbar-static-top.
 * The height may need to be changed if the height of you
 * navigation changes.
*/

body { padding-top: 100px; }

.form-css{
	background: #f4cdb3;
	border-radius: 5%;
	padding: 10px;
	padding-left: 0px;
	padding-right: 60;
	margin: 10px;
}

#hasil{
	background: #f2a45c;
	border-radius: 5%;
	height: auto;
	width: 500;
	padding:20;
	padding-left: 40;
	margin: 40px;
	margin-top: 0px;
}

.dingdong{
	background: #fffcf4;
	border-radius: 5%;
	padding-left: 10px;

}

.button {
    background-color: #e3d2c1;
    border-radius: 5% ;
    color: #fffcf4;
    padding: 10px 15px;
    text-align: center;
    text-decoration:none;
    display: inline-block;

}

#tombol{
	font-size: 16px;
}

#Headerfont{
	font-family: montserrat;
	color: #ffffff;
}

#Headerfont1{
	font-family: montserrat;
	color: black;
	font-weight: bold;
	text-align: center;
}

#Headerfont2{
	font-family: montserrat;
	color: black;
	font-weight: bold;
	text-align:right;
}

#timeline1{
	font-family: montserrat;
	color: #ffffff;
	margin-top: 70px;
	margin-left: 30px;
}

#timeline2{
	font-family: montserrat;
	color: #ffffff;
	margin-left: 150px;
	margin-top: 30px;
}

#itemfont{
	font-family: montserrat;
	color: #ffffff;
}

#itemfont2{
	font-family: montserrat;
	color: solid black;
	text-align: center;
	font-weight: bold;
}

#itemfont3{
	font-family: montserrat;
	color: solid black;
	text-align: center;
}

#itemfont4{
	font-family: montserrat;
	color: #ffffff;
}

#italic{
	font-family: montserrat;
	color: #ffffff;
}

#regfont{
	font-family: montserrat;
	color: #ffffff;
	font-style: normal;
	margin-left: auto;
}

#registerfont{
	font-family: montserrat;
	color: #ffffff;
	padding-top: 20px;
	text-align: center;
}

.regbutton{
	margin-left: 200px;
}

.element {
  width: 520px;
  height: 268px;
  background-color: #3D5A68;
	float: right;
	margin-right: 50px;
}

.form-control{
	margin-left: 30px;
	width: 400px;
}

.registerbox{
	width: 500px;
	height: 600px;
	background-color: #3D5A68;
	margin-left: 380px;
	margin-right: 150px;
}


.UIUXmargin {
	margin-left: 20px;
	margin-bottom: 20px;
}

.educationbox {
	width: 90%;
  height: 268px;
  background-color: #FFB701;
	float: right;
	margin-right: 50px;
	/* margin-top: 20px; */
}

.bluebox{
	width: 520px;
  height: 120px;
  background-color: #EDF3FE;
	float: right;
	margin-right: 50px;
}

.whitebox{
	width: 90%;
  height: 268px;
  background-color: #ffffff;
	float: right;
	padding: 10px;
	margin-right: 50px;
}

#orangesize{
	width: 520px;
	height: 120px;
	margin-top: 50px;
	margin-bottom: 20px;
}

#square {
   width: 140px;
   height: 140px;
   border: 2px solid blue;
}

#border1{
	border: solid #EDF3FE;
	text-align: center;
	height: 100%;
}

#border2{
	border: solid #FFB701;
}

.profpic {
	border: solid black;
}

#row-1{
	border-bottom: 3px solid white;
	height: 130px;
	margin: 0 !important;
}

#row-2{
	margin: 0 !important;
}

#display{
	margin: -20px;
	border-radius: 50%;
}

#display2{
	margin: 10px;
}

#display3{
	margin-left: 10px;
	margin-top: 15px;
}

.tengah{
	text-align: center;
}





/**
 * Bootstrap requires a containing element to wrap site contents
 * and house the grid system. You may choose one of two containers.
 * Use .container for a responsive fixed width container.
 * Use .container-fluid for a full width container.

 * If using container-fluid, you may need to set a maximum width,
 * so that the container will not spread to the entire viewport.
*/

.container-fluid { max-width: 1200px; }



/**
 * Bootstrap adds a 20px margin to the bottom of elements that
 * have been given the class of thumbnail. When images have a
 * caption after them, this margin may be too large. You can
 * override it like this:
*/

.thumbnail { margin-bottom: 5px; }



/**
 * We can add some "helper classes" to add or remove margins to
 * help aspects of the layout. These helper classes should only
 * be used sparingly.
*/

.margin-t-0 { margin-top: 0; }
.margin-t-h { margin-top: .5em; }
.margin-t-1 { margin-top: 1em; }
.margin-t-2 { margin-top: 2em; }
.margin-t-3 { margin-top: 3em; }
.margin-b-0 { margin-bottom: 0; }
.margin-b-h { margin-bottom: .5em; }
.margin-b-1 { margin-bottom: 1em; }
.margin-b-2 { margin-bottom: 2em; }
.margin-b-3 { margin-bottom: 3em; }

.margin-tb-0
{
	margin-top: 0;
	margin-bottom: 0;
}

.margin-tb-h
{
	margin-top: .5em;
	margin-bottom: .5em;
}

.margin-tb-1
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.margin-tb-2
{
	margin-top: 2em;
	margin-bottom: 2em;
}

.margin-tb-3
{
	margin-top: 3em;
	margin-bottom: 3em;
}
