{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>List of Books</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" lang="en" content="ADD SITE DESCRIPTION">
  <meta name="author" content="nadia.syafitri@ui.ac.id">
  <meta name="robots" content="index, follow">

  <!-- <link rel="stylesheet" type="text/css" href="{%static "css/style-profile.css" %}"> -->

  <!-- Bootstrap Core CSS file -->
  <link rel="stylesheet" href= "{%static "css/bootstrap.min.css" %}">


  <!-- JQuery File -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="{%static "js/bootstrap.min.js"%}"></script>
  <script src="{%static "js/mainfile.js"%}"></script>
</head>

<body>
  <div class="container">
		<div class="row">
			{% if user.is_authenticated %}
				<p class="display-4">Welcome, {{ user.username }}</p>
				<a class="button-logout" href="logout">Logout</a>
			{% else %}
				<a class="lead" href="{% url 'login' %}">Log in</a>
			{% endif %}

		</div>
	</div>



  <h1 style="font-family: montserrat; text-align: center; margin-top: 4vw">Book List</h1>
	    <div class="container-fluid h-100">
	        <div class="row h-100 justify-content-center align-items-center">
	            <div class="col-sm-11">
	                <div class="row">
	                    <div class="col-sm-2" style="padding-top: 10.5vh; text-align:right; font-size: 20px; font-weight: bold">
	                        <text>Favourite(s):</text>
	                        <text id="counter">0</text>
                          <input id="input" type="text" name="search" placeholder="Search.."><button id = "search" ><i class = "fa fa-search"></i></button>
	                    </div>
	                </div>
	                <div class="roundedrec" style="margin-bottom:6.7%;">
	                    <div class="insiderec">
	                        <div class="table-responsive">
	                            <table id="demo" class="table table-dark" style="font-size: 15px;">
	                                <thead class="thead-dark">
	                                    <tr class="table">
	                                        <th scope="col" class="align-middle">No</th>
	                                        <th scope="col" class="align-middle">Title</th>
	                                        <th scope="col" class="align-middle">Authors</th>
	                                        <th scope="col" class="align-middle">Publisher</th>
	                                        <th scope="col" class="align-middle">Published Date</th>
	                                        <th scope="col" class="align-middle">Cover</th>
	                                        <th scope="col" class="align-middle">Add to Favourite(s)</th>
	                                    </tr>
	                                </thead>
	                                <tbody></tbody>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>
</html>
