{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'css/story9.css' %}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="815068721581-j18ic1s6limjvgo8q116mvae6n6r7lep.apps.googleusercontent.com">
</head>
<style>

body {
	background-color: pink;
}

.roundedrec {
   border-radius: 10px;
   background: #FFFFFF;
   box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
   width: 50%;
   margin-left: 42%;
   margin-top: 15%;
}

.insiderec {
   padding: 30px;
   text-align: center;
}

@media (max-width: 600px){
 .roundedrec{
   width: 60% !important;
   margin-left: 19% !important;
 }
}

.title-login {
 font-size: 4vw;
}

.button-login {
 background-color: #838996;
   color: white;
   margin-top: 13px;
   padding: 12px 25px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   width: 30%;
   font-size: 1.2vw;
}

.google-login {
 font-size: 1.5vw;
}

.display-4 {
 text-align: center;
 margin-top: 3%;
}

.button-logout {
 background-color: #838996;
   color: white;
   margin-top: 50px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   width: 10%;
   height: 50px;
   font-size: 1.2vw;
   margin-left: 40%;
}

</style>
<body>
  <div class="col-sm-9">
    <div class="roundedrec">
      <div class="insiderec">
          {% block content %}
            <h2 class="title-login">Login</h2>
              <br>
              <a href="{% url 'social:begin' 'google-oauth2' %}" class="google-login">Login with Google</a>
          {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
