<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'css/story9.css' %}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="815068721581-j18ic1s6limjvgo8q116mvae6n6r7lep.apps.googleusercontent.com">
</head>
<body>
  </body>
  </html>
